main {
     padding: 140px 0px;
	background-color: var(--light-gray);
}

div.propagandas-container {
		position: relative;

		& > div:first-of-type {
			display: flex;
			overflow: scroll;

			img {
				width: 100vw;
                    object-fit: cover;
			}
		}

		p {
			border-radius: 4.9px;
			color: var(--dark-gray);
			background-color: var(--light-gray);
			padding: 6.3px 10.5px;
			font-size: 12.6px;
			transform: translateX(-50%);
			white-space: nowrap;
			position: absolute;
			bottom: -3px;
			left: 50%;
		}
	}

/*media*/
@media (min-width: 700px) {
     main {
          padding: 84px 0px;
     }
}