@import '../global/global';

main {
	padding: 140px 0px;
	background-color: var(--light-gray);
}

div.loading-screen-container {
	&.--off {
		filter: opacity(0%);
		pointer-events: none;
	}

	z-index: 4;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-color: var(--primary-color);
	transition: ease-in-out 0.56s;
	position: fixed;
	top: 0px;
	left: 0px;

	& > div {
		&.--on {
			filter: opacity(100%);
		}

		display: flex;
		flex-direction: column;
		align-items: left;
		gap: 14px;
		filter: opacity(0%);

		& > img {
			@extend %big-height-size;
			transition: ease-in-out 0.56s;
		}

		& > div {
			width: 0%;
			transition: ease-in-out 1.4s;
			height: 2.8px;
			background-color: white;
			border-radius: 70px;
		}
	}
}

div.propagandas-container {
	position: relative;

	button {
		&:focus {
			outline: none;
		}

		&:first-of-type {
			left: 0px;
		}

		&:last-of-type {
			right: 0px;
		}

		width: 50%;
		height: 100%;
		position: absolute;
		top: 0px;
	}

	& > div:first-of-type {
		display: flex;
		overflow: scroll;

		img {
			width: 100vw;
			object-fit: cover;
			object-position: bottom;
		}
	}

	& > p {
		border-radius: 4.9px;
		color: var(--dark-gray);
		background-color: white;
		padding: 6.3px 10.5px;
		font-size: 12.6px;
		transform: translateX(-50%);
		white-space: nowrap;
		position: absolute;
		bottom: -5px;
		left: 50%;
	}
}

div.product-section-container {
	& > div {
		&.--on {
			&::before {
				content: '';
				width: 350px;
				height: 350px;
				border-radius: 100%;
				border: 4.9px solid var(--primary-color);
				transform: translateY(-50%);
				position: absolute;
				top: 0px;
				left: 0px;
			}

			margin: 28px 0px;
			background-color: var(--primary-color);
			position: relative;

			h1 {
				&::before {
					background-color: white !important;
				}

				color: white !important;
			}
		}

		padding: 70px 0px;

		& > div:first-of-type {
			@extend %default-padding-size;
			width: 100vw;

			h1 {
				&::before {
					content: '';
					width: 10.5px;
					height: 10.5px;
					border-radius: 100%;
					background-color: var(--primary-color);
					transform: translateY(-50%);
					position: absolute;
					top: 50%;
					left: 0px;
				}

				@extend %big-font-size;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				color: var(--dark-gray);
				padding: 10.5px 0px 10.5px 19.6px;
				position: relative;
			}
		}

		& > div:last-of-type {
			@extend %default-padding-size;
			display: flex;
			width: 100vw;
			gap: 14px;
			overflow: scroll;
			padding: 14px 0px;

			& > div {
				@extend %product-container;
				width: 100%;
				min-width: 280px;
			}
		}
	}
}

@media (hover: none) {
	div.loading-screen-container {
		& > div {
			transform: translateY(-100%);
		}
	}
}

@media (min-width: 500px) {
	main {
		padding-top: 140px;
	}

	div.propagandas-container {
		& > div:first-of-type {
			img {
				width: 100vw;
				height: 35vw;
			}
		}
	}
}

@media (min-width: 700px) {
	main {
		padding: 84px 0px 140px 0px;
	}

	div.propagandas-container {
		& > div:first-of-type {
			img {
				width: 100vw;
				height: auto;
			}
		}
	}

	div.product-section-container {
		& > div {
			&.--on {
				&::before {
					width: 420px;
					height: 420px;
				}

				&::after {
					content: '';
					width: 420px;
					height: 420px;
					border-radius: 100%;
					border: 4.9px solid var(--primary-color);
					transform: translateY(-50%);
					position: absolute;
					right: 0px;
					bottom: -50%;
				}
			}
		}
	}
}
