@import '../modules/modules.scss';

header {
	z-index: 3;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;

	& > div:first-of-type {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		background-color: var(--primary-color);
		padding-top: 21px;
		padding-bottom: 21px;

		& > a {
			display: flex;
			padding: 14px 0px;

			& > img:first-of-type {
				@extend %default-height-size;
				filter: grayscale(100%) brightness(200%);
			}
		}
	}
}
