div.table-section-container__table-container, div.table-section-container > div:last-of-type, div.table-section-container > div:first-of-type {
  padding-right: 21px;
  padding-left: 21px;
}

div.table-section-container > div:first-of-type > h1 {
  font-size: 30.1px;
}

@media (min-width: 375px) {
  div.table-section-container__table-container, div.table-section-container > div:last-of-type, div.table-section-container > div:first-of-type {
    padding-right: 28px;
    padding-left: 28px;
  }
}
@media (min-width: 650px) {
  div.table-section-container__table-container, div.table-section-container > div:last-of-type, div.table-section-container > div:first-of-type {
    padding-right: 56px;
    padding-left: 56px;
  }
}
@media (min-width: 870px) {
  div.table-section-container > div:first-of-type > h1 {
    font-size: 33.6px;
  }
}
@media (min-width: 1300px) {
  div.table-section-container__table-container, div.table-section-container > div:last-of-type, div.table-section-container > div:first-of-type {
    padding-right: 15.4vw;
    padding-left: 15.4vw;
  }
}
@media (min-width: 1700px) {
  div.table-section-container__table-container, div.table-section-container > div:last-of-type, div.table-section-container > div:first-of-type {
    padding-right: 21vw;
    padding-left: 21vw;
  }
}
@media (min-width: 2880px) {
  div.table-section-container__table-container, div.table-section-container > div:last-of-type, div.table-section-container > div:first-of-type {
    padding-right: 30%;
    padding-left: 30%;
  }
}
main {
  padding: 119px 0px;
  background-color: var(--light-gray);
}

div.table-section-container {
  padding: 35px 0px;
}
div.table-section-container > div:first-of-type > h1 {
  color: var(--dark-gray);
  padding: 14px 0px;
}
div.table-section-container > div:first-of-type > h1 > i {
  color: var(--primary-color);
}
div.table-section-container > div:last-of-type {
  padding-top: 7px;
}
div.table-section-container > div:last-of-type > button {
  gap: 7px;
  font-family: var(--font-bold);
  background-color: var(--regular-green);
  color: white;
  width: 100%;
  font-size: 15.4px;
  padding: 14px;
  border-radius: 7px;
}

div.table-section-container__table-container {
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
  overflow-x: scroll;
}
div.table-section-container__table-container.--off {
  display: none;
}
div.table-section-container__table-container > table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 7px;
  overflow: hidden;
  background-color: var(--primary-color);
  table-layout: auto;
}
div.table-section-container__table-container > table thead,
div.table-section-container__table-container > table tbody {
  font-size: 14px;
}
div.table-section-container__table-container > table thead {
  width: 100%;
  user-select: none;
  height: 41px;
  color: white;
}
div.table-section-container__table-container > table tbody > tr {
  background-color: white;
}
div.table-section-container__table-container > table tbody > tr > td {
  min-width: 280px;
  height: 52.5px;
}
div.table-section-container__table-container > table tbody > tr > td.--sortable-item {
  width: 100%;
}

div.cell-container {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  position: relative;
}
div.cell-container > div.cell-container__cell-info-container {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 17.5px;
}
div.cell-container > div.cell-container__cell-info-container.--loading i.cell-container__cell-info-container__loading {
  display: block;
}
div.cell-container > div.cell-container__cell-info-container.--error i:nth-of-type(2) {
  display: block;
}
div.cell-container > div.cell-container__cell-info-container.--ok i:last-of-type {
  display: block;
}
div.cell-container > div.cell-container__cell-info-container i {
  display: none;
}
div.cell-container > div.cell-container__cell-info-container i.cell-container__cell-info-container__loading {
  width: 16.1px;
  height: 16.1px;
  border-radius: 100%;
  border: 2.8px solid var(--regular-green);
  border-top: 2.8px solid transparent;
  animation: spinner 1.4s linear infinite forwards;
}
div.cell-container > div.cell-container__cell-info-container > i:nth-of-type(2) {
  color: red;
}
div.cell-container > div.cell-container__cell-info-container > i:last-of-type {
  color: var(--regular-green);
}

div.cell-container__input-container {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

div.cell-container__file-input-container label {
  color: var(--primary-color);
  cursor: pointer;
}
div.cell-container__file-input-container input {
  display: none;
}
div.cell-container__file-input-container a {
  white-space: nowrap;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.cell-container__text-input-container div[pseudo-input] {
  width: 100%;
  padding: 0px 21px;
  text-align: center;
}
div.cell-container__text-input-container div[pseudo-input]:empty:before {
  content: attr(placeholder);
  color: gray;
}
div.cell-container__text-input-container div[pseudo-input]:focus {
  outline: none;
}

div.cell-container__text-area-container textarea {
  padding: 14px;
  width: 80%;
  resize: none;
  font-size: 15.4px;
  height: 52.5px;
  border: none;
  text-align: center;
}
div.cell-container__text-area-container textarea:focus {
  outline: none;
}

div.cell-container__color-input-container input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 48px;
  height: 31.5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
div.cell-container__color-input-container input::-webkit-color-swatch {
  border-radius: 7px;
  border: none;
}
div.cell-container__color-input-container input::-moz-color-swatch {
  border-radius: 7px;
  border: none;
}

td.action-container.--no-drag-button > div > div > button:first-of-type {
  display: none;
}
td.action-container.--no-send-button > div > div > button:nth-of-type(2) {
  display: none;
}
td.action-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
td.action-container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: 175px;
  position: relative;
}
td.action-container > div > div > button {
  color: var(--primary-color);
  font-size: 16.8px;
  padding: 0px 7px;
}
td.action-container > div > div > div.action-container__action-info-container {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0px;
}
td.action-container > div > div > div.action-container__action-info-container.--loading i.action-container__cell-info-container__loading {
  display: block;
}
td.action-container > div > div > div.action-container__action-info-container.--error i:nth-of-type(2) {
  display: block;
}
td.action-container > div > div > div.action-container__action-info-container.--ok i:last-of-type {
  display: block;
}
td.action-container > div > div > div.action-container__action-info-container i {
  display: none;
}
td.action-container > div > div > div.action-container__action-info-container i.action-container__cell-info-container__loading {
  width: 16.1px;
  height: 16.1px;
  border-radius: 100%;
  border: 2.8px solid var(--regular-green);
  border-top: 2.8px solid transparent;
  animation: spinner 1.4s linear infinite forwards;
}
td.action-container > div > div > div.action-container__action-info-container > i:nth-of-type(2) {
  color: red;
}
td.action-container > div > div > div.action-container__action-info-container > i:last-of-type {
  color: var(--regular-green);
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 1000px) {
  div.table-section-container__table-container > table thead,
  div.table-section-container__table-container > table tbody {
    font-size: 16.8px;
  }
  i.cell-container__cell-info-container__loading {
    border: 3.5px solid var(--regular-green);
    border-top: 3.5px solid transparent;
  }
  i.action-container__cell-info-container__loading {
    border: 3.5px solid var(--regular-green);
    border-top: 3.5px solid transparent;
  }
}

/*# sourceMappingURL=main.css.map */
