@import '../../../global/styles/modules/modules.scss';

header {
	z-index: 3;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;

	& > div:first-of-type {
		@extend %default-padding-size;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		background-color: var(--primary-color);
		padding-top: 21px;
		padding-bottom: 21px;

		& > a {
			display: flex;
			padding: 14px 0px;

			& > img:first-of-type {
				@extend %default-height-size;
				filter: grayscale(100%) brightness(200%);
			}
		}

		& > div:last-of-type {
			display: flex;

			& > button {
				&:hover {
					background-color: rgba(0, 0, 0, 0.1);
				}

				@extend %default-font-size;
				color: white;
				width: 42px;
				min-width: 42px;
				height: 42px;
				transition: ease-in-out 0.35s;
				min-height: 42px;
				border-radius: 100%;
			}
		}
	}
}
