%default-padding-size {
	padding-right: 24.5px !important;
	padding-left: 24.5px !important;
}

%default-height-size {
	height: 17.5px;
}

%big-height-size {
	height: 20.3px;
}

%small-font-size {
	font-size: 12.6px;
}

%default-font-size {
	font-size: 17.5px;
}

%big-font-size {
	font-size: 28px;
}

%product-container {
	z-index: 2;
	display: flex;
	flex-direction: column;
	border-radius: 14px;
	user-select: none;
	overflow: hidden;

	& > div:first-of-type {
		display: flex;
		height: 100%;
		flex-direction: column;
		align-items: center;
		gap: 28px;
		background-color: white;
		padding: 21px;

		& > div:first-of-type {
			width: 100%;
			padding-bottom: 14px;

			button {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 5.6px;
				width: fit-content;
				border-radius: 7px;
				font-size: 11.9px;
				padding: 6.3px 10.5px;
				font-family: var(--font-bold);
				background-color: var(--primary-color);
				color: white;

				i {
					color: white;
					font-size: 11.9px;
				}
			}
		}

		img {
			width: 182px;
			height: 182px;
			border-radius: 14px;
			object-fit: contain;
		}

		& > div:last-of-type {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			height: 100%;

			p {
				text-align: center;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			& > p:first-of-type {
				color: var(--regular-gray);
				font-size: 19.6px;
				font-family: var(--font-bold);
				padding: 0px 0px 5.6px 0px;
			}

			& > p:nth-of-type(2) {
				color: var(--regular-gray);
				text-decoration: line-through;
				font-size: 17.5px;
				filter: opacity(70%);
			}

			& > p:nth-of-type(3) {
				color: var(--regular-green);
				font-size: 28px;
				font-family: var(--font-bold);
			}

			& > p:last-of-type {
				color: var(--regular-gray);
				font-size: 17.5px;
				filter: opacity(70%);
			}
		}
	}

	a {
		&:focus-visible {
			outline: none;
			border: 2.1px solid rgb(0, 162, 255);
		}

		&:hover {
			background-color: var(--dark-green);
		}

		display: flex;
		gap: 5.6px;
		align-items: center;
		justify-content: center;
		border-radius: 0px 0px 14px 14px;
		color: white;
		padding: 18.9px 0px;
		font-size: 17.5px;
		font-family: var(--font-bold);
		background-color: var(--regular-green);
		transition: ease-in-out 0.35s;

		i {
			font-size: 21px;
		}
	}
}

@media (min-width: 700px) {
	%default-padding-size {
		padding-right: 35px !important;
		padding-left: 35px !important;
	}

	%default-height-size {
		height: 18.9px;
	}

	%big-height-size {
		height: 21px;
	}

	%small-font-size {
		font-size: 14px;
	}

	%default-font-size {
		font-size: 18.9px;
	}

	%big-font-size {
		font-size: 31.5px;
	}
}

@media (min-width: 1000px) {
	%default-padding-size {
		padding-right: 84px !important;
		padding-left: 84px !important;
	}

	%default-height-size {
		height: 19.6px;
	}

	%default-font-size {
		font-size: 19.6px;
	}

	%big-height-size {
		height: 22.4px;
	}
}

@media (min-width: 1200px) {
	%default-padding-size {
		padding-right: 140px !important;
		padding-left: 140px !important;
	}
}
