div.edit-section > div:last-of-type, div.edit-section > div:first-of-type {
  padding-right: 24.5px;
  padding-left: 24.5px;
}

div.edit-section > div:first-of-type > h1 {
  font-size: 28px;
}

@media (min-width: 375px) {
  div.edit-section > div:last-of-type, div.edit-section > div:first-of-type {
    padding-right: 28px;
    padding-left: 28px;
  }
}
@media (min-width: 700px) {
  div.edit-section > div:last-of-type, div.edit-section > div:first-of-type {
    padding-right: 35px;
    padding-left: 35px;
  }
  div.edit-section > div:first-of-type > h1 {
    font-size: 31.5px;
  }
}
@media (min-width: 800px) {
  div.edit-section > div:last-of-type, div.edit-section > div:first-of-type {
    padding-right: 7vw;
    padding-left: 7vw;
  }
}
@media (min-width: 1000px) {
  div.edit-section > div:last-of-type, div.edit-section > div:first-of-type {
    padding-right: 9.8vw;
    padding-left: 9.8vw;
  }
}
@media (min-width: 1300px) {
  div.edit-section > div:last-of-type, div.edit-section > div:first-of-type {
    padding-right: 14vw;
    padding-left: 14vw;
  }
}
@media (min-width: 1700px) {
  div.edit-section > div:last-of-type, div.edit-section > div:first-of-type {
    padding-right: 19.6vw;
    padding-left: 19.6vw;
  }
  div.edit-section > div:first-of-type > h1 {
    font-size: 38.5px;
  }
}
@media (min-width: 2880px) {
  div.edit-section > div:last-of-type, div.edit-section > div:first-of-type {
    padding-right: 30%;
    padding-left: 30%;
  }
}
main {
  padding: 84px 0px;
  background-color: var(--light-gray);
}

div.edit-section {
  padding-top: 70px;
  padding-bottom: 70px;
}
div.edit-section > div:first-of-type {
  padding-top: 14px;
  padding-bottom: 14px;
}
div.edit-section > div:first-of-type > h1 {
  color: var(--primary-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.edit-section > div:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

table.edit-section__table {
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 14px;
  overflow: hidden;
  border-collapse: collapse;
}
table.edit-section__table th,
table.edit-section__table td {
  min-width: 245px;
}
table.edit-section__table thead th {
  color: white;
  padding: 14px;
  font-size: 16.8px;
}
table.edit-section__table tbody tr td {
  background-color: white;
  padding: 17.5px;
  text-align: center;
}

div.edit-section__table__cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.edit-section__table__cell > span i {
  display: none;
}
div.edit-section__table__cell > span i.--ok {
  display: block;
  color: green;
}
div.edit-section__table__cell > span i.--not-ok {
  display: block;
  color: red;
}

input[type=text] {
  text-align: center;
  font-size: 16.8px;
  background-color: transparent;
  border: none;
}
input[type=text]:focus {
  outline: none;
}

input[type=color] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 49px;
  height: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
input[type=color]::-webkit-color-swatch {
  border-radius: 7px;
  border: none;
}
input[type=color]::-moz-color-swatch {
  border-radius: 7px;
  border: none;
}

div.edit-section__table__cell__input-file-container label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 16.8px;
}
div.edit-section__table__cell__input-file-container label a {
  max-width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translateY(-1px);
  white-space: nowrap;
  position: relative;
}
div.edit-section__table__cell__input-file-container input {
  display: none;
}

/*# sourceMappingURL=main.css.map */
