@import '../../../global/styles/modules/modules.scss';

main {
	padding: 84px 0px;
	background-color: var(--light-gray);
}

div.edit-section {
	padding-top: 70px;
	padding-bottom: 70px;

	& > div:first-of-type {
		@extend %default-padding-size;
		padding-top: 14px;
		padding-bottom: 14px;

		& > h1 {
			@extend %big-font-size;
			color: var(--primary-color);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	& > div:last-of-type {
		@extend %default-padding-size;
		display: flex;
		flex-direction: column;
		gap: 21px;
	}
}

table.edit-section__table {
	width: 100%;
	background-color: var(--primary-color);
	border-radius: 14px;
	overflow: hidden;
	border-collapse: collapse;

	th,
	td {
		min-width: 245px;
	}

	thead {
		th {
			color: white;
			padding: 14px;
			font-size: 16.8px;
		}
	}

	tbody {
		tr {
			td {
				background-color: white;
				padding: 17.5px;
				text-align: center;
			}
		}
	}
}

div.edit-section__table__cell {
	display: flex;
	align-items: center;
	justify-content: center;

	& > span {
		i {
			display: none;

			&.--ok {
				display: block;
				color: green;
			}

			&.--not-ok {
				display: block;
				color: red;
			}
		}
	}
}

input[type='text'] {
	&:focus {
		outline: none;
	}

	text-align: center;
	font-size: 16.8px;
	background-color: transparent;
	border: none;
}

input[type='color'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 49px;
	height: 35px;
	background-color: transparent;
	border: none;
	cursor: pointer;

	&::-webkit-color-swatch {
		border-radius: 7px;
		border: none;
	}

	&::-moz-color-swatch {
		border-radius: 7px;
		border: none;
	}
}

div.edit-section__table__cell__input-file-container {
	label {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 7px;
		cursor: pointer;
		color: var(--primary-color);
		font-size: 16.8px;

		a {
			max-width: 280px;
			overflow: hidden;
			text-overflow: ellipsis;
			transform: translateY(-1px);
			white-space: nowrap;
			position: relative;
		}
	}

	input {
		display: none;
	}
}
