%default-padding-size {
	padding-right: 24.5px;
	padding-left: 24.5px;
}

%default-height-size {
	height: 17.5px;
}

%big-height-size {
	height: 20.3px;
}

%small-font-size {
	font-size: 14px;
}

%default-font-size {
	font-size: 17.5px;
}

%big-font-size {
	font-size: 28px;
}

%aside-menu {
	&.--on {
		pointer-events: all;
		filter: opacity(100%);

		& > div {
			transform: translate(0%);
		}
	}

	pointer-events: none;
	filter: opacity(0%);
	background-color: rgba(0, 0, 0, 0.5);
	transition: ease-in-out 0.35s;
	z-index: 4;
	width: 100%;
	height: 100vh;
	display: flex;
	position: fixed;
	top: 0px;

	& > button {
		width: 100%;
	}

	& > div {
		width: 315px;
		min-width: 315px;
		background-color: var(--light-gray);
		transition: ease-in-out 0.35s;
		transform: translate(100%);
		position: relative;

		& > div:first-of-type {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 42px 21px 35px 21px;
			width: 100%;
			background-color: var(--primary-color);

			& > div {
				& > img {
					@extend %default-height-size;
					filter: grayscale(100%) brightness(200%);
				}

				& > div {
					&::before {
						content: '';
						width: 100%;
						height: 1px;
						background-color: white;
						transform: translate(-50%, -50%);
						position: absolute;
						top: 50%;
						left: 50%;
					}

					width: 100%;
					margin-top: 35px;
					position: relative;

					p {
						text-align: center;
						font-size: 13.3px;
						font-family: var(--font-bold);
						padding: 14px;
						background-color: var(--primary-color);
						color: white;
						transform: translate(-50%, -50%);
						position: absolute;
						top: 50%;
						left: 50%;
					}
				}
			}
		}

		& > div:last-of-type {
			padding: 21px 21px 224px 21px;
			overflow-y: scroll;
			height: 100%;
		}
	}
}

%product-container {
	z-index: 2;
	display: flex;
	flex-direction: column;
	border-radius: 14px;
	user-select: none;
	overflow: hidden;

	& > div:first-of-type {
		display: flex;
		height: 100%;
		flex-direction: column;
		align-items: center;
		gap: 21px;
		background-color: white;
		padding: 21px;

		& > div:first-of-type {
			width: 100%;

			button {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 5.6px;
				width: fit-content;
				border-radius: 7px;
				font-size: 11.9px;
				padding: 6.3px 10.5px;
				font-family: var(--font-bold);
				background-color: var(--primary-color);
				color: white;

				i {
					color: white;
					font-size: 11.9px;
				}
			}
		}

		& > div:nth-child(2) {
			width: 100%;
			padding-bottom: 5.6px;

			& > hr {
				border: 0px;
				height: 1px;
				background-color: rgba(0, 0, 0, 0.178);
			}
		}

		img {
			width: 182px;
			height: 182px;
			border-radius: 14px;
			object-fit: contain;
		}

		& > div:last-of-type {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			height: 100%;

			p {
				text-align: center;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			& > p:first-of-type {
				color: var(--regular-gray);
				font-size: 19.6px;
				font-family: var(--font-bold);
				padding: 0px 0px 5.6px 0px;
			}

			& > p:nth-of-type(2) {
				color: var(--regular-gray);
				text-decoration: line-through;
				font-size: 17.5px;
				filter: opacity(70%);
			}

			& > p:nth-of-type(3) {
				color: var(--regular-green);
				font-size: 28px;
				font-family: var(--font-bold);
			}

			& > p:last-of-type {
				color: var(--regular-gray);
				font-size: 17.5px;
				filter: opacity(70%);
			}
		}
	}

	a {
		&:focus-visible {
			outline: none;
			-webkit-box-shadow: inset 0px 0px 0px 2px rgb(0, 162, 255);
			-moz-box-shadow: inset 0px 0px 0px 2px rgb(0, 162, 255);
			box-shadow: inset 0px 0px 0px 2px rgb(0, 162, 255);
		}

		&:hover {
			background-color: var(--dark-green);
		}

		display: flex;
		gap: 5.6px;
		align-items: center;
		justify-content: center;
		border-radius: 0px 0px 14px 14px;
		color: white;
		padding: 18.9px 0px;
		font-size: 17.5px;
		font-family: var(--font-bold);
		background-color: var(--regular-green);
		transition: ease-in-out 0.35s;

		i {
			font-size: 21px;
		}
	}
}

%default-form {
	width: 100%;
	padding-top: 24.5px;

	& > span {
		&.--not-ok {
			display: block;
			color: red;
		}

		&.--ok {
			display: block;
			color: var(--regular-green);
		}

		display: none;
		font-size: 13.3px;
		padding-bottom: 10.5px;

		i {
			font-style: normal;
		}
	}

	& > div {
		display: flex;
		flex-direction: column;
		gap: 18.9px;

		& > button {
			&:hover {
				background-color: white;
				color: var(--primary-color);
			}

			@extend %small-font-size;
			width: 100%;
			gap: 7px;
			padding: 9.1px;
			border: 2px solid var(--primary-color);
			font-family: var(--font-bold);
			background-color: var(--primary-color);
			border-radius: 14px;
			color: white;
			transition: ease-in-out 0.35s;
		}

		& > div {
			position: relative;

			label {
				@extend %small-font-size;
				cursor: text;
				color: var(--regular-gray);
				transition: ease-in-out 0.28s;
				transform: translateY(-50%);
				pointer-events: none;
				position: absolute;
				top: 50%;
				left: 14px;
			}

			input {
				&:not(:placeholder-shown) + label {
					color: var(--regular-gray);
					padding: 0px 7px;
					font-size: 11.9px;
					background-color: white;
					transform: translateY(-170%);
				}

				&:focus + label {
					color: var(--primary-color);
					padding: 0px 7px;
					font-size: 11.9px;
					background-color: white;
					transform: translateY(-170%);
				}

				&:focus {
					outline: none;
					border: 2px solid var(--primary-color);
				}

				&::placeholder {
					filter: opacity(0%);
				}

				&::-webkit-input-placeholder {
					/* WebKit browsers */
					color: transparent;
				}

				&:-moz-placeholder {
					/* Mozilla Firefox 4 to 18 */
					color: transparent;
				}

				&::-moz-placeholder {
					/* Mozilla Firefox 19+ */
					color: transparent;
				}

				&:-ms-input-placeholder {
					/* Internet Explorer 10+ */
					color: transparent;
				}

				&:-webkit-autofill,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:focus,
				&:-webkit-autofill:active {
					transition: background-color 5000s ease-in-out 0s;
				}

				@extend %small-font-size;
				width: 100%;
				padding: 9.1px 14px;
				border-radius: 11.9px;
				border: 2px solid rgb(100, 100, 100);
				transition: ease-in-out 0.28s;
				color: var(--dark-gray);
			}
		}
	}
}

@media (min-width: 375px) {
	%default-padding-size {
		padding-right: 28px;
		padding-left: 28px;
	}

	%aside-menu {
		& > div {
			width: 336px;
			min-width: 336px;
		}
	}
}

@media (min-width: 700px) {
	%default-padding-size {
		padding-right: 35px;
		padding-left: 35px;
	}

	%default-height-size {
		height: 18.9px;
	}

	%big-height-size {
		height: 21px;
	}

	%default-font-size {
		font-size: 18.9px;
	}

	%big-font-size {
		font-size: 31.5px;
	}
}

@media (min-width: 800px) {
	%default-padding-size {
		padding-right: 7vw;
		padding-left: 7vw;
	}
}

@media (min-width: 1000px) {
	%default-padding-size {
		padding-right: 9.8vw;
		padding-left: 9.8vw;
	}

	%default-height-size {
		height: 19.6px;
	}

	%default-font-size {
		font-size: 19.6px;
	}

	%big-height-size {
		height: 22.4px;
	}
}

@media (min-width: 1300px) {
	%default-padding-size {
		padding-right: 14vw;
		padding-left: 14vw;
	}
}

@media (min-width: 1700px) {
	%default-padding-size {
		padding-right: 19.6vw;
		padding-left: 19.6vw;
	}

	%default-height-size {
		height: 21px;
	}

	%small-font-size {
		font-size: 15.4px;
	}

	%default-font-size {
		font-size: 21px;
	}

	%big-font-size {
		font-size: 38.5px;
	}

	%aside-menu {
		& > div {
			width: 364px;
			min-width: 364px;
		}
	}
}

@media (min-width: 2880px) {
	%default-padding-size {
		padding-right: 30%;
		padding-left: 30%;
	}
}
