div.section-container__table-container, div.section-container__canvas-container, div.section-container__data-container, div.section-container > div.section-container__add-item-container, div.section-container > div:first-of-type {
  padding-right: 21px;
  padding-left: 21px;
}

div.section-container > div:first-of-type > h1 {
  font-size: 30.1px;
}

@media (min-width: 375px) {
  div.section-container__table-container, div.section-container__canvas-container, div.section-container__data-container, div.section-container > div.section-container__add-item-container, div.section-container > div:first-of-type {
    padding-right: 28px;
    padding-left: 28px;
  }
}
@media (min-width: 650px) {
  div.section-container__table-container, div.section-container__canvas-container, div.section-container__data-container, div.section-container > div.section-container__add-item-container, div.section-container > div:first-of-type {
    padding-right: 56px;
    padding-left: 56px;
  }
}
@media (min-width: 870px) {
  div.section-container > div:first-of-type > h1 {
    font-size: 33.6px;
  }
}
@media (min-width: 1300px) {
  div.section-container__table-container, div.section-container__canvas-container, div.section-container__data-container, div.section-container > div.section-container__add-item-container, div.section-container > div:first-of-type {
    padding-right: 15.4vw;
    padding-left: 15.4vw;
  }
}
@media (min-width: 1700px) {
  div.section-container__table-container, div.section-container__canvas-container, div.section-container__data-container, div.section-container > div.section-container__add-item-container, div.section-container > div:first-of-type {
    padding-right: 21vw;
    padding-left: 21vw;
  }
}
@media (min-width: 2880px) {
  div.section-container__table-container, div.section-container__canvas-container, div.section-container__data-container, div.section-container > div.section-container__add-item-container, div.section-container > div:first-of-type {
    padding-right: 30%;
    padding-left: 30%;
  }
}
main {
  padding: 119px 0px;
  background-color: var(--light-gray);
}

div.section-container {
  padding: 35px 0px;
}
div.section-container > div:first-of-type > h1 {
  color: var(--dark-gray);
  padding: 14px 0px 21px 0px;
}
div.section-container > div:first-of-type > h1 > i {
  color: var(--primary-color);
}
div.section-container > div.section-container__add-item-container {
  padding-top: 14px;
}
div.section-container > div.section-container__add-item-container > button {
  gap: 7px;
  font-family: var(--font-bold);
  background-color: var(--regular-green);
  transition: ease-in-out 0.35s;
  color: white;
  width: 100%;
  font-size: 15.4px;
  padding: 14px;
  border-radius: 7px;
}
div.section-container > div.section-container__add-item-container > button:hover {
  background-color: var(--dark-green);
}

div.section-container__data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  justify-content: space-between;
  padding-bottom: 21px;
}
div.section-container__data-container > div {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  height: 100%;
  padding: 21px;
  border-radius: 7px;
  background-color: var(--primary-color);
}
div.section-container__data-container > div h3,
div.section-container__data-container > div p {
  color: white;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.section-container__canvas-container {
  display: none;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 45px;
}
div.section-container__canvas-container canvas {
  height: 336px;
}

div.section-container__table-container {
  width: 100%;
  overflow-x: scroll;
  padding-top: 7px;
  padding-bottom: 7px;
}
div.section-container__table-container.--off {
  display: none;
}
div.section-container__table-container > table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 7px;
  overflow: hidden;
  background-color: var(--primary-color);
  table-layout: auto;
}
div.section-container__table-container > table thead,
div.section-container__table-container > table tbody {
  font-size: 14px;
}
div.section-container__table-container > table thead {
  width: 100%;
  height: 41px;
  color: white;
}
div.section-container__table-container > table thead th {
  user-select: none;
}
div.section-container__table-container > table tbody > tr {
  width: 100%;
  background-color: white;
}
div.section-container__table-container > table tbody > tr > td {
  height: 59.9px;
}
div.section-container__table-container > table tbody > tr > td.regular-container {
  min-width: 296px;
}
div.section-container__table-container > table tbody > tr > td.ghost-container, div.section-container__table-container > table tbody > tr > td.action-container {
  width: 175px;
  min-width: 175px;
}
div.section-container__table-container > table tbody > tr > td.action-container.--no-drag-button > div > div > button:first-of-type {
  display: none;
}
div.section-container__table-container > table tbody > tr > td.action-container.--no-send-button > div > div > button:nth-of-type(2) {
  display: none;
}
div.section-container__table-container > table tbody > tr > td.action-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.section-container__table-container > table tbody > tr > td.action-container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: 175px;
  position: relative;
}
div.section-container__table-container > table tbody > tr > td.action-container > div > div > button {
  color: var(--primary-color);
  font-size: 16.8px;
  padding: 7px;
}
div.section-container__table-container > table tbody > tr > td.action-container > div > div > div.action-container__action-info-container {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 13.3px;
}
div.section-container__table-container > table tbody > tr > td.action-container > div > div > div.action-container__action-info-container.--loading i.action-container__cell-info-container__loading {
  display: block;
}
div.section-container__table-container > table tbody > tr > td.action-container > div > div > div.action-container__action-info-container.--error i:nth-of-type(2) {
  display: block;
}
div.section-container__table-container > table tbody > tr > td.action-container > div > div > div.action-container__action-info-container.--ok i:last-of-type {
  display: block;
}
div.section-container__table-container > table tbody > tr > td.action-container > div > div > div.action-container__action-info-container i {
  display: none;
}
div.section-container__table-container > table tbody > tr > td.action-container > div > div > div.action-container__action-info-container i.action-container__cell-info-container__loading {
  width: 16.1px;
  height: 16.1px;
  border-radius: 100%;
  border: 2.8px solid var(--regular-green);
  border-top: 2.8px solid transparent;
  animation: spinner 1.4s linear infinite forwards;
}
div.section-container__table-container > table tbody > tr > td.action-container > div > div > div.action-container__action-info-container > i:nth-of-type(2) {
  color: red;
}
div.section-container__table-container > table tbody > tr > td.action-container > div > div > div.action-container__action-info-container > i:last-of-type {
  color: var(--regular-green);
}

div.cell-container {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  position: relative;
}
div.cell-container > div.cell-container__cell-info-container {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 17.5px;
}
div.cell-container > div.cell-container__cell-info-container.--loading i.cell-container__cell-info-container__loading {
  display: block;
}
div.cell-container > div.cell-container__cell-info-container.--error i:nth-of-type(2) {
  display: block;
}
div.cell-container > div.cell-container__cell-info-container.--ok i:last-of-type {
  display: block;
}
div.cell-container > div.cell-container__cell-info-container i {
  display: none;
}
div.cell-container > div.cell-container__cell-info-container i.cell-container__cell-info-container__loading {
  width: 16.1px;
  height: 16.1px;
  border-radius: 100%;
  border: 2.8px solid var(--regular-green);
  border-top: 2.8px solid transparent;
  animation: spinner 1.4s linear infinite forwards;
}
div.cell-container > div.cell-container__cell-info-container > i:nth-of-type(2) {
  color: red;
}
div.cell-container > div.cell-container__cell-info-container > i:last-of-type {
  color: var(--regular-green);
}

div.cell-container__content-container {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
div.cell-container__content-container p {
  padding: 7px 0px;
  text-align: center;
}

div.cell-container__file-input-container.--special button {
  display: block;
}
div.cell-container__file-input-container label,
div.cell-container__file-input-container button {
  padding: 0px 6.3px;
  font-size: 17.5px;
  color: var(--primary-color);
  cursor: pointer;
}
div.cell-container__file-input-container button {
  display: none;
  font-size: 16.8px;
}
div.cell-container__file-input-container label {
  padding-right: 3.5px;
}
div.cell-container__file-input-container input {
  display: none;
}
div.cell-container__file-input-container a {
  white-space: nowrap;
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.cell-container__text-input-container div[pseudo-input] {
  max-width: 80%;
  padding: 0px 21px;
  text-align: center;
  padding: 14px;
}
div.cell-container__text-input-container div[pseudo-input]:empty:before {
  content: attr(placeholder);
  color: gray;
}
div.cell-container__text-input-container div[pseudo-input]:focus {
  outline: none;
}

div.cell-container__text-area-container textarea {
  padding: 14px;
  width: 80%;
  resize: none;
  font-size: 15.4px;
  border: none;
  text-align: center;
}
div.cell-container__text-area-container textarea:focus {
  outline: none;
}

div.cell-container__color-input-container input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 48px;
  height: 31.5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
div.cell-container__color-input-container input::-webkit-color-swatch {
  border-radius: 7px;
  border: none;
}
div.cell-container__color-input-container input::-moz-color-swatch {
  border-radius: 7px;
  border: none;
}

div.cell-container__select-container select {
  width: 60%;
  text-align: center;
  border: none;
  background-color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15.4px;
}
div.cell-container__select-container select:focus {
  outline: none;
}
div.cell-container__select-container select > option {
  font-size: 15.4px;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (pointer: coarse) {
  button[draggable] {
    display: none;
  }
}
@media (min-width: 600px) {
  div.section-container__canvas-container {
    display: flex;
  }
}
@media (min-width: 1000px) {
  div.section-container__data-container {
    flex-direction: row;
  }
  div.section-container__table-container > table thead,
  div.section-container__table-container > table tbody {
    font-size: 16.8px;
  }
}

/*# sourceMappingURL=main.css.map */
