@import '../../../global/styles/modules/modules.scss';

aside {
	@extend %aside-menu;
}

div.aside-block {
	padding: 28px;
	border-radius: 14px;
	background-color: white;

	& > h2 {
		color: var(--primary-color);
		text-align: center;
	}

	& > form {
		@extend %default-form;
	}
}
