%aside-menu {
	&.--on {
		pointer-events: all;
		filter: opacity(100%);

		& > div {
			transform: translate(0%);
		}
	}

	pointer-events: none;
	filter: opacity(0%);
	background-color: rgba(0, 0, 0, 0.5);
	transition: ease-in-out 0.35s;
	z-index: 4;
	width: 100%;
	height: 100vh;
	display: flex;
	position: fixed;
	top: 0px;

	& > button {
		width: 100%;
	}

	& > div {
		width: 308px;
		min-width: 308px;
		background-color: var(--light-gray);
		transition: ease-in-out 0.35s;
		transform: translate(100%);
		position: relative;

		& > div:first-of-type {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 35px 21px;
			width: 100%;
			background-color: var(--primary-color);

			& > div {
				min-width: 70%;
				text-align: center;

				& > img {
					@extend %default-height-size !optional;
					filter: grayscale(100%) brightness(0) invert(1);
				}

				& > div {
					&::before {
						content: '';
						width: 100%;
						height: 1px;
						background-color: white;
						transform: translate(-50%, -50%);
						position: absolute;
						top: 50%;
						left: 50%;
					}

					width: 100%;
					margin-top: 28px;
					position: relative;

					p {
						text-align: center;
						font-size: 13.3px;
						font-family: var(--font-bold);
						padding: 14px;
						background-color: var(--primary-color);
						color: white;
						transform: translate(-50%, -50%);
						white-space: nowrap;
						position: absolute;
						top: 50%;
						left: 50%;
					}
				}
			}
		}

		& > div:last-of-type {
			padding: 21px 21px 224px 21px;
			overflow-y: scroll;
			height: 100%;
		}
	}
}

%aside-list {
	li {
		a,
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10.5px;
			padding: 7px;
			width: 100%;
			position: relative;

			i:last-of-type {
				&:hover {
					color: var(--primary-color);
				}

				width: 100%;
				text-align: left;
				transition: ease-in-out 0.35s;
				color: var(--dark-gray);
				font-family: var(--font-bold);
				font-style: normal;
				font-size: 16.8px;
				line-height: 115%;
			}
		}

		a {
			i:first-of-type {
				color: var(--primary-color);
			}
		}

		button {
			i:first-of-type {
				display: inline-block;
				padding: 4.2px;
				border-radius: 100%;
				background-color: var(--primary-color);
			}
		}
	}
}

@media (min-width: 1300px) {
	%aside-list {
		li {
			a,
			button {
				i:last-of-type {
					font-size: 16.1px;
				}
			}
		}
	}
}

@media (min-width: 1700px) {
	%aside-menu {
		& > div {
			width: 322px;
			min-width: 322px;
		}
	}
}
