aside > div > div:first-of-type > div > img {
  height: 17.5px;
}

div.cart-product-container > div > div {
  z-index: 2;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
}
div.cart-product-container > div > div > div:first-of-type {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  background-color: white;
  padding: 21px;
}
div.cart-product-container > div > div > div:first-of-type > div:first-of-type {
  width: 100%;
  padding-bottom: 14px;
}
div.cart-product-container > div > div > div:first-of-type > div:first-of-type button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.6px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 7px;
  font-size: 11.9px;
  padding: 6.3px 10.5px;
  font-family: var(--font-bold);
  background-color: var(--primary-color);
  color: white;
}
div.cart-product-container > div > div > div:first-of-type > div:first-of-type button i {
  color: white;
  font-size: 11.9px;
}
div.cart-product-container > div > div > div:first-of-type img {
  width: 182px;
  height: 182px;
  border-radius: 14px;
  -o-object-fit: contain;
     object-fit: contain;
}
div.cart-product-container > div > div > div:first-of-type > div:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
div.cart-product-container > div > div > div:first-of-type > div:last-of-type p {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.cart-product-container > div > div > div:first-of-type > div:last-of-type > p:first-of-type {
  color: var(--regular-gray);
  font-size: 19.6px;
  font-family: var(--font-bold);
  padding: 0px 0px 5.6px 0px;
}
div.cart-product-container > div > div > div:first-of-type > div:last-of-type > p:nth-of-type(2) {
  color: var(--regular-gray);
  text-decoration: line-through;
  font-size: 17.5px;
  filter: opacity(70%);
}
div.cart-product-container > div > div > div:first-of-type > div:last-of-type > p:nth-of-type(3) {
  color: var(--regular-green);
  font-size: 28px;
  font-family: var(--font-bold);
}
div.cart-product-container > div > div > div:first-of-type > div:last-of-type > p:last-of-type {
  color: var(--regular-gray);
  font-size: 17.5px;
  filter: opacity(70%);
}
div.cart-product-container > div > div a {
  display: flex;
  gap: 5.6px;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 14px 14px;
  color: white;
  padding: 18.9px 0px;
  font-size: 17.5px;
  font-family: var(--font-bold);
  background-color: var(--regular-green);
  transition: ease-in-out 0.35s;
}
div.cart-product-container > div > div a:focus-visible {
  outline: none;
  border: 2.1px solid rgb(0, 162, 255);
}
div.cart-product-container > div > div a:hover {
  background-color: var(--dark-green);
}
div.cart-product-container > div > div a i {
  font-size: 21px;
}

@media (min-width: 700px) {
  aside > div > div:first-of-type > div > img {
    height: 18.9px;
  }
}
@media (min-width: 1000px) {
  aside > div > div:first-of-type > div > img {
    height: 19.6px;
  }
}
aside {
  pointer-events: none;
  filter: opacity(0%);
  background-color: rgba(0, 0, 0, 0.253);
  transition: ease-in-out 0.35s;
  z-index: 4;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0px;
}
aside.--on {
  pointer-events: all;
  filter: opacity(100%);
}
aside.--on > div {
  transform: translate(0%);
}
aside > button {
  width: 100%;
}
aside > div {
  width: 315px;
  min-width: 315px;
  background-color: var(--light-gray);
  transition: ease-in-out 0.35s;
  transform: translate(100%);
  position: relative;
}
aside > div > div:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 42px 21px 35px 21px;
  width: 100%;
  background-color: var(--primary-color);
}
aside > div > div:first-of-type > div > img {
  filter: grayscale(100%) brightness(200%);
}
aside > div > div:first-of-type > div > div {
  width: 100%;
  margin-top: 35px;
  position: relative;
}
aside > div > div:first-of-type > div > div::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
aside > div > div:first-of-type > div > div p {
  text-align: center;
  font-size: 13.3px;
  font-family: var(--font-bold);
  padding: 14px;
  background-color: var(--primary-color);
  color: white;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
aside > div > div:last-of-type {
  padding: 21px 28px 224px 28px;
  overflow-y: scroll;
  height: 100%;
}

div.cart-product-container > div {
  transition: ease-in-out 0.35s;
  overflow: hidden;
  margin: 21px 0px;
}
div.cart-product-container > div:first-of-type {
  margin-top: 0px;
}
div.cart-product-container > div:last-of-type {
  margin-bottom: 0px;
}
div.cart-product-container > div > div {
  width: 100%;
}

ul.categories-list li button {
  display: flex;
  gap: 7px;
  padding: 7px 0px;
  width: 100%;
  position: relative;
}
ul.categories-list li button i:first-of-type {
  width: 8.4px;
  height: 8.4px;
  border-radius: 100%;
  background-color: var(--primary-color);
}
ul.categories-list li button i:last-of-type {
  width: 100%;
  text-align: left;
  white-space: nowrap;
  transition: ease-in-out 0.35s;
  color: var(--dark-gray);
  font-family: var(--font-bold);
  font-style: normal;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}
ul.categories-list li button i:last-of-type:hover {
  color: var(--primary-color);
}/*# sourceMappingURL=aside.css.map */