header > div:last-of-type, header > div:first-of-type > div:first-of-type > div, header > div:first-of-type > div:first-of-type, header > div:first-of-type {
  padding-right: 24.5px;
  padding-left: 24.5px;
}

header > div:first-of-type > a > img:first-of-type {
  height: 17.5px;
}

header > div:last-of-type > button, header > div:first-of-type > div:last-of-type > button {
  font-size: 17.5px;
}

@media (min-width: 700px) {
  header > div:last-of-type, header > div:first-of-type > div:first-of-type > div, header > div:first-of-type > div:first-of-type, header > div:first-of-type {
    padding-right: 35px;
    padding-left: 35px;
  }
  header > div:first-of-type > a > img:first-of-type {
    height: 18.9px;
  }
  header > div:last-of-type > button, header > div:first-of-type > div:last-of-type > button {
    font-size: 18.9px;
  }
}
@media (min-width: 1000px) {
  header > div:last-of-type, header > div:first-of-type > div:first-of-type > div, header > div:first-of-type > div:first-of-type, header > div:first-of-type {
    padding-right: 84px;
    padding-left: 84px;
  }
  header > div:first-of-type > a > img:first-of-type {
    height: 19.6px;
  }
  header > div:last-of-type > button, header > div:first-of-type > div:last-of-type > button {
    font-size: 19.6px;
  }
}
@media (min-width: 1200px) {
  header > div:last-of-type, header > div:first-of-type > div:first-of-type > div, header > div:first-of-type > div:first-of-type, header > div:first-of-type {
    padding-right: 140px;
    padding-left: 140px;
  }
}
header {
  z-index: 3;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}
header > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--primary-color);
  padding-top: 21px;
  padding-bottom: 21px;
}
header > div:first-of-type > a {
  display: flex;
  padding: 14px 0px;
}
header > div:first-of-type > a > img:first-of-type {
  filter: grayscale(100%) brightness(200%);
}
header > div:first-of-type > div:first-of-type {
  display: none;
}
header > div:first-of-type > div:last-of-type {
  display: flex;
  gap: 7px;
}
header > div:first-of-type > div:last-of-type > button {
  color: white;
  width: 42px;
  min-width: 42px;
  height: 42px;
  transition: ease-in-out 0.35s;
  min-height: 42px;
  border-radius: 100%;
}
header > div:first-of-type > div:last-of-type > button:hover {
  background-color: rgba(0, 0, 0, 0.123);
}
header > div:first-of-type > div:last-of-type > button:last-of-type {
  display: none;
}
header > div:last-of-type {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 17.5px;
  background-color: var(--light-gray);
  padding-top: 10.5px;
  padding-bottom: 10.5px;
}
header > div:last-of-type > button {
  border-radius: 100%;
  color: var(--primary-color);
}

div.search-container {
  width: 100%;
  position: relative;
}
div.search-container.--on > input {
  border-radius: 14px 14px 0px 0px;
}
div.search-container > input {
  width: 100%;
  border: 0px;
  border-radius: 21px;
  padding: 5.6px 11.2px;
  font-size: 13.3px;
  color: var(--dark-gray);
}
div.search-container > input.--none {
  color: red;
}
div.search-container > input:focus {
  outline: none;
}
div.search-container > div {
  width: 100%;
  position: absolute;
  left: 0px;
}
div.search-container > div > div {
  background-color: white;
  border-radius: 0px 0px 14px 14px;
}
div.search-container > div > div > button {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 14px;
  width: 100%;
  padding: 21px 14px;
  position: relative;
}
div.search-container > div > div > button:not(:last-of-type)::after {
  content: "";
  width: 91%;
  height: 1px;
  background-color: rgb(219, 219, 219);
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: 0px;
}
div.search-container > div > div > button > img {
  width: 73.5px;
  height: 73.5px;
  -o-object-fit: contain;
     object-fit: contain;
}
div.search-container > div > div > button > div p {
  cursor: pointer;
  line-height: 140%;
  text-align: left;
  font-family: var(--font-bold);
}
div.search-container > div > div > button > div > p:first-of-type {
  color: var(--regular-gray);
  font-size: 17.5px;
}
div.search-container > div > div > button > div > p:last-of-type {
  color: var(--regular-green);
  font-size: 25.9px;
}

@media (min-width: 700px) {
  header > div:first-of-type > div:first-of-type {
    display: block;
  }
  header > div:first-of-type > div:last-of-type > button:last-of-type {
    display: block;
  }
  header > div:last-of-type {
    display: none;
  }
  div.search-container > input {
    font-size: 14px;
  }
}/*# sourceMappingURL=header.css.map */