@import '../modules/modules.scss';
@import '../controller/controller.scss';

main {
	min-height: 41vh;
	padding: 126px 0;
	background-color: var(--light-gray);
}

div.propagandas-container {
	width: 100vw;
	position: relative;

	button {
		&.--off {
			filter: opacity(0%);
		}

		&:first-of-type {
			left: 21px;
		}

		&:last-of-type {
			right: 21px;
		}

		@extend %default-font-size;
		width: 41px;
		height: 41px;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		background-color: white;
		color: var(--regular-gray);
		transition: ease-in-out 0.35s;
		transform: translateY(-50%);
		position: absolute;
		top: 50%;

		i {
			transform: scale(90%, 90%);
		}
	}

	& > div:first-of-type {
		display: flex;
		overflow: scroll;

		img {
			width: 100vw;
			object-fit: cover;
			object-position: bottom;
		}
	}

	& > p {
		border-radius: 7px;
		color: var(--dark-gray);
		background-color: white;
		padding: 6.3px 10.5px;
		font-size: 12.6px;
		transform: translateX(-50%);
		white-space: nowrap;
		position: absolute;
		bottom: -5px;
		left: 50%;
	}
}

div.product-section-container {
	z-index: 1;
	padding: 35px 0;
	position: relative;

	& > div {
		&.--special {
			&::before {
				content: '';
				z-index: -1;
				width: 305px;
				height: 305px;
				border-radius: 100%;
				border: 4.9px solid var(--primary-color);
				transform: translateY(-50%);
				position: absolute;
				top: 0;
				left: 0;
			}

			&::after {
				content: '';
				z-index: -1;
				width: 305px;
				height: 305px;
				border-radius: 100%;
				filter: opacity(0%);
				border: 4.9px solid var(--primary-color);
				transform: translateY(-60%);
				position: absolute;
				bottom: -480px;
				right: 40px;
			}

			margin: 42px 0;
			padding: 70px 0;
			background-color: var(--primary-color);
			position: relative;

			h1 {
				&::before {
					background-color: white !important;
				}

				color: white !important;
			}
		}

		padding: 42px 0;

		& > div:first-of-type {
			@extend %default-padding-size;
			width: 100vw;

			h1 {
				&::before {
					content: '';
					padding: 5.6px;
					border-radius: 100%;
					background-color: var(--primary-color);
					transform: translateY(-50%);
					position: absolute;
					top: 50%;
					left: 0;
				}

				@extend %big-font-size;
				color: var(--dark-gray);
				padding: 10.5px 0 10.5px 22.4px;
				position: relative;
			}
		}

		& > div:last-of-type {
			&::-webkit-scrollbar {
				display: none;
			}

			&.--special {
				display: grid;
				grid-template-columns: 1fr;
				gap: 14px;

				& > div {
					&.--special:last-of-type {
						grid-column: span 2;
					}
				}
			}

			@extend %default-padding-size;
			display: flex;
			gap: 14px;
			width: 100vw;
			overflow: scroll;
			padding-top: 14px;
			padding-bottom: 14px;

			& > div {
				@extend %product-container;
				min-width: 280px;
				width: 100%;
			}
		}
	}
}

div.product-section-container__propagandas-pop-container {
	z-index: 2;
	@extend %default-padding-size;

	& > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 14px;

		a:last-of-type {
			display: none;
		}

		img {
			width: 100%;
			border-radius: 7px;
			object-fit: cover;
		}
	}
}

@media (min-width: 490px) {
	main {
		padding-top: 140px;
	}

	div.propagandas-container {
		& > div:first-of-type {
			img {
				height: 41vw;
			}
		}
	}

	div.product-section-container__propagandas-pop-container {
		& > div {
			img {
				height: 35vw;
			}
		}
	}
}

@media (min-width: 870px) {
	main {
		padding: 84px 0 140px 0;
	}

	div.propagandas-container {
		& > div:first-of-type {
			img {
				height: auto;
			}
		}
	}

	div.product-section-container {
		padding: 35px 0;

		& > div {
			&.--special {
				&::before,
				&::after {
					filter: opacity(100%);
					width: 420px;
					height: 420px;
				}
			}
		}
	}

	div.product-section-container__propagandas-pop-container {
		& > div {
			img {
				height: auto;
			}
		}
	}
}

@media (min-width: 1300px) {
	div.propagandas-container {
		button {
			&:first-of-type {
				left: 41px;
			}

			&:last-of-type {
				right: 41px;
			}

			width: 48px;
			height: 48px;
		}
	}
}

@media (min-width: 1700px) {
	div.product-section-container__propagandas-pop-container {
		& > div {
			flex-direction: row;

			a:last-of-type {
				display: block;
			}

			img {
				height: 21vh;
			}
		}
	}
}

@media (min-width: 2000px) {
	div.product-section-container__propagandas-pop-container {
		& > div {
			img {
				height: auto;
			}
		}
	}
}
