@import '../controller/controller.scss';

div.pop-up-container {
	@extend %default-padding-size;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	filter: opacity(0%);
	pointer-events: none;
	width: 100vw;
	height: 100vh;
	transition: ease-in-out 0.8s;
	position: fixed;

	& > div {
		background-color: var(--primary-color);
		padding: 7px;
		border-radius: 7px;
		transform: translateY(200%);
		transition: ease-in-out 0.8s;

		& > button {
			@extend %default-font-size;
			justify-content: right;
			padding: 7px;
			padding-bottom: 11.2px;
			width: 100%;
			color: white;
		}

		& > a {
			& > img {
				max-height: 455px;
				width: 100%;
				border-radius: 7px;
			}
		}
	}

	&.--on {
		pointer-events: all;
		filter: opacity(100%);

		& > div {
			transform: translateY(-10.5%);
		}
	}

	&.--off {
		filter: opacity(0%);
		pointer-events: none;

		& > div {
			transform: translateY(-200%);
		}
	}
}

@media (min-width: 1300px) {
	div.pop-up-container {
		&.--on {
			& > div {
				transform: translateY(0%);
			}
		}
	}
}
