@font-face {
	font-family: poppins-regular;
	src: url(../../assets/poppins/Poppins-Regular.ttf);
}

@font-face {
	font-family: poppins-bold;
	src: url(../../assets/poppins/Poppins-Medium.ttf);
}

:root {
	--font-regular: poppins-regular, Arial, Helvetica, sans-serif;
	--font-bold: poppins-bold, Arial, Helvetica, sans-serif;
	--primary-color: white;
	--regular-green: rgb(93, 212, 104);
	--light-gray: rgb(236, 236, 236);
	--regular-gray: rgb(59, 59, 59);
	--dark-gray: rgb(20, 20, 20);
}

*::-webkit-scrollbar {
	display: none;
}

*:focus-visible {
	outline: 2.1px solid rgb(0, 162, 255);
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: var(--font-regular);
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body,
header,
main,
footer {
	min-width: 315px !important;
	overflow-x: hidden;
}

ul,
ol {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 112%;
}

h1,
h2,
h3,
h4,
h5,
p {
	cursor: default;
}

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

button {
	cursor: pointer;
	background-color: transparent;
	border: none;
	-webkit-tap-highlight-color: transparent;
}

a {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
}
